<%- include('header') %> 

<form action="/categories/add" method="post">
    <label >New Category</label><br>
    <input type="text" name="name" placeholder="Categories..." />
    <input type="submit" value="Submit"/>
</form>

<%- include('footer') %> 