<%- include('header') %> 
<% dataCategory %> 
<% console.log(dataCategory.name); %> 
<form action="/categories/edit/<%= dataCategory.id %>" method="post">
    <label >Category</label><br>
    <input type="text" name="name" value="<%= dataCategory.name %>" /><br><br>
    <input type="submit" value="Submit"/>
</form>

<%- include('footer') %> 