<%- include('header') %> 
 
<a href="/product/user">Back</a>
<h5>WELCOME</h5><br>
<h1></h1>
    <form action="/product/add" method="post"> 
        <label for="name">Name:</label><br />
        <input type="text" id="name" name="name" value="" /><br />
        <label for="address">Address:</label><br />
        <input type="text" id="address" name="address" value="" /><br /><br />
        <input type="radio" id="gender" name="gender" value="male">
          <label for="gender">Male</label><br>
        <input type="radio" id="gender" name="gender" value="female">
          <label for="gender">Female</label><br>
        <label for="phoneNumber">Phone Number:</label><br />
        <input type="text" id="lname" name="lname" value="" /><br /><br />
        <label for="email">Email:</label><br />
        <input type="text" id="email" name="email" value="" /><br />
        <label for="birthdayDate">Birthday:</label>
        <input type="date" id="birthdayDate" name="birthdayDate" />
        <input type="submit" value="Submit" />
    </form>
<%- include('footer') %> 
