<%- include('header') %>
<%if (error) {%>
  <p style="color: red;"><%=error%></p>
<%}%>
<form action="/signIn" method="post">
  <label for="email">Email:</label><br />
  <input type="text" id="email" name="email" value="" /><br /><br />
  <label for="password">Password:</label><br />
  <input type="password" id="password" name="password" value="" /><br /><br />
  <input type="submit" value="Submit" />
</form>
<%- include('footer') %>
